.header-con {
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 10px 40px;
}
.header-con img {
  width: 150px;
}
.nav-link-list-con {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}
.header-link-item {
  text-decoration: none;
  color: #ffffff;
  margin: 0 10px;
}
.header-con button {
  background-color: #4f46e5;
  padding: 10px 30px;
  border: 0 solid;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
}
.small-device-nav-icons {
  display: none;
}
@media screen and (max-width: 767px) {
  .small-device-nav-icons {
    display: block;
  }
  .large-nav {
    display: none;
  }
}
